body {
    background-color:#47d6fc;font-family:Arial, Helvetica, sans-serif;font-size:18px;
}
ul{
    list-style-type:none;
}
ul li{
    text-align:center;
}
li::first-letter {
    font-size: 22px;font-weight:bold;
}
a{
    color:blue;
}

